TWITTER_POSTER_TELEGRAM_BOT_TOKEN=replace_me
TWITTER_POSTER_PUBLIC_URL=http://localhost:8000
TWITTER_POSTER_TELEGRAM_POLL_LIMIT=25
TWITTER_POSTER_EMBEDDING_MODEL_NAME=sentence-transformers/all-mpnet-base-v2
TWITTER_POSTER_PRELOAD_EMBEDDING_MODEL_ON_STARTUP=false
